@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* Background: White */
		--background: 0 0% 100%;
		/* Foreground: Black Normal */
		--foreground: 0 0% 15%;

		--card: 0 0% 100%;
		--card-foreground: 0 0% 15%;

		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 15%;

		/* Primary: Blue */
		--primary: 235 60% 44%;
		--primary-foreground: 0 0% 100%;

		/* Secondary: Dark Blue */
		--secondary: 219 66% 37%;
		--secondary-foreground: 0 0% 100%;

		/* Muted: Gray Normal */
		--muted: 0 0% 92%;
		/* Muted Foreground: Gray Dark active */
		--muted-foreground: 0 0% 42%;

		/* Accent: Yellow */
		--accent: 43 79% 49%;
		--accent-foreground: 0 0% 100%;

		--destructive: 0 84% 60%;
		--destructive-foreground: 0 0% 100%;

		/* Border: Gray Normal */
		--border: 0 0% 92%;
		--input: 0 0% 92%;
		--ring: 235 60% 44%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 8%;
		--foreground: 0 0% 92%;

		--card: 0 0% 11%;
		--card-foreground: 0 0% 92%;

		--popover: 0 0% 11%;
		--popover-foreground: 0 0% 92%;

		--primary: 235 60% 44%;
		--primary-foreground: 0 0% 100%;

		--secondary: 219 66% 37%;
		--secondary-foreground: 0 0% 100%;

		--muted: 0 0% 15%;
		--muted-foreground: 0 0% 65%;

		--accent: 43 79% 49%;
		--accent-foreground: 0 0% 100%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 100%;

		--border: 0 0% 15%;
		--input: 0 0% 15%;
		--ring: 235 60% 44%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground font-sans;
	}

	/* Typography scale */
	h1,
	.h1 {
		@apply text-[45px] font-bold md:text-[65px];
	}
	h2,
	.h2 {
		@apply text-[35px] font-bold md:text-[55px];
	}
	h3,
	.h3 {
		@apply text-[25px] font-bold md:text-[45px];
	}
	h4,
	.h4 {
		@apply text-[18px] font-normal md:text-[35px] md:font-semibold;
	}
	h5,
	.h5 {
		@apply text-[16px] font-normal md:text-[26px] md:font-semibold;
	}
	p,
	.p {
		@apply text-[16px] font-normal md:text-[16px];
	}
}
